<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MyBinding" maxBufferPoolSize="268435456" maxBufferSize="268435456"
                    maxReceivedMessageSize="268435456" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3740/endpoint" binding="basicHttpBinding"
                bindingConfiguration="MyBinding" contract="PERP_CommLibrary.IPERP_CommModel"
                name="PERP_Endpoint" kind="" endpointConfiguration="" />
            <endpoint address="http://localhost:3443/endpoint" binding="basicHttpBinding"
                bindingConfiguration="" contract="PERP_API.PERP_API_Contract"
                name="PERP_API_Endpoint" kind="" endpointConfiguration="" />
        </client>
    </system.serviceModel>
</configuration>